<% if !logged_in?%>
  
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Our group catalog:</h1>
    </div>
    <div class="content">
    <h2><em><strong>Attention!</strong></em></h2>
    <p>You can only be a member of <strong><em>one</em></strong> group and can only view a groups page if you are a member. You do have the ability to leave groups and join new ones as you wish. Please keep that in mind as it is best to look over all options before you join!</p>
      <%all_groups.each do |group|%>
        <ul>
        <li><strong><em><%=group.name%></em></strong></li>
        <li><strong><em>Bio: </em></strong><%=group.bio%></li>
        <br>
        </ul>
      <%end%>
    </div>
    <div class="sidebar">
      <h3>Login:</h3>
      <ul>
        <form action='/login' method="post">
          <li><label for ="email"><strong><em>Email: </em></strong></li>
          <li><input type="text" id="email" name="email" placeholder="Your Email Please"></label><b></li>
          <li><label for="password"><strong><em>Password: </em></strong></li>
          <li><input type="password" id="password" name="password" placeholder="Password"></label></li>
          <input type=submit value=LogIn id=submit>
        </form><a href="/signup"><strong>Sign Up</strong></a></li>
      </ul>
    </div>

<%else%>
  
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Check out all our groups!</h1>
      <div class="content">
      
      <% if current_user.group != nil %>
        Keep in mind if you click join it will remove you from your current group.
        <br>
        <%end%>
       <br>
        <% all_groups.each do |group|%>
          <ul>
            <li><em><strong><%=group.name%></strong></em> <a href="/groups/<%=group.id%>/join">Join!</a></li>
            <li><strong><em>Bio: </strong></em> <%=group.bio %></li>
            <br>
          </ul>

      <%end%>
      
      </div>
      <div class="sidebar">
            <h3>Attention:</h3>
            <p> You can only be a member of one group and can only view a groups page if you are a member. You do have the ability to leave groups and join them as you wish. Please keep that in mind as it is best too look over all options before you join.</p>
      </div>
    </div>
  </div>
  
<%end%>




