<div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1><strong>Welcome <em><%=current_user.name%></strong></em>!</h1>
      <div class="content">
        <% if current_user.group == nil %>
          <h2>It looks as though you have not joined a group!</h2>
          <p>Why not <a href="/groups/new">create a new group</a> or <a href="/groups">join a group</a> made by someone in the community.</p>
        <% else %>
          <h2>The group you belong to is</h2>
            <ul>
              <li><a href="/groups/<%=current_user.group.id%>"><%=current_user.group.name%></a></li>
              <li><strong>Bio: </strong></li>
              <li><em><%=current_user.group.bio %></em></li>
              <form action="/groups/<%= current_user.group.id %>/leave" method="post">
                <input type="hidden" name="_method" value="patch">
                <button type="submit" value="submit"> Leave group</button>
            </form>
          </ul>
          <%end%>
      </div>
    <div class="sidebar">
      <% if current_user.group != nil %>
      <h3>Your posts:</h3>
      <% if users_post == nil%>
      <p> You have not created a post at this time. If you would like to create one at this time please <a href="/posts/new">click here</a>
      <%else%>
      <ul>
          <li><%users_post.each do |post|%></li>
          <li><%=post.published%></li>
          <li><em><%=post.content%></em></li>
          <br>
          <%end%>
      </ul>
      <%end%>
      <%end%>
    </div>
  </div>