<div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1><strong>Welcome <em><%=current_user.name%></strong></em>!</h1>
      <div class="content">
        <% if current_user.group == nil %>
          <h2>It looks as though you have not joined a group!</h2>
          <p>Why not <a href="/groups/new">create a new group</a> or <a href="/groups">join a group</a> made by someone in the community.</p>
        <% else %>
          <h2>The group you belong to is</h2>
            <ul>
              <li><a href="/groups/<%=current_user.group.id%>"><%=current_user.group.name%></a></li>
              <li><em><strong><em>Bio: </em></strong></em></li>
              <li><%=current_user.group.bio %></li>
          </ul>
        <%end%>
      </div>
    <div class="sidebar">
      <h3>Your most recent post are</h3>
      <ul>
          <li><%users_post.each do |post|%></li>
          <li><%=post.published%></li>
          <li><%=post.content%></li>
          <br>
          <%end%>
      </ul>
    </div>
  </div>