<div class="container"> 
    <div class="col-md-8 col-md-offset-2">
        <h1>Post details: </h1>
        <br>
        <div class="content">
            <ul>
                <li><%=current_post.published%></li>
                <li><strong><%=current_post.user.name%></strong></li>
                <br>
                <li><strong>Content: </strong><em><%=current_post.content%></em></li>
                
                <% if current_post.user == current_user %>
                <li><a href="/posts/<%=current_post.id%>/edit">Edit</a>
                <a href="/posts/<%=current_post.id%>/delete">Delete</a></li>
                <br>
                <%end%>
                <br>
            </ul>
        </div>
        <div class="sidebar">
            <h2>The newest group created:</h2>
            <ul>
                <li><%=last_group.name%></li>
                <li><li><strong>Bio: </strong><em><%=last_group.bio%></em></li>
                <br>
            </ul>
        </div>
    </div>
</div>