<h2> The contents of your post are the following: </h2>
<ul>
    <li><b><%=@post.user.name%><b></li>
    <li><b><%=@post.published%><b></li>
    <li><b>Content:</b> <%=@post.content%></li>
    <% if @post.user == @user %>
<a href="/posts/<%=@post.id%>/edit">Edit</a>
<a href="/posts/<%=@post.id%>/delete">Delete</a>
<br>
<%end%>
</ul>